@media (min-width: 1281px) {
  :root {
    font-size: 1rem;
  }
}
@media (min-width: 768px) and (max-width: 1024px) {
  :root {
    font-size: 2rem;
  }
}
@media (min-width: 320px) and (max-width: 480px) {
  :root {
    font-size: 3rem;
  }
}

.x-small {
  font-size: 0.5rem;
}
.small {
  font-size: 1rem;
}
.medium {
  font-size: 1.5rem;
}
.large {
  font-size: 2rem;
}
.x-large {
  font-size: 2.5rem;
}
footer {
  font-size: 2rem;
}
.description {
  font-size: 0.5em;
}
